.wrapper
  .side_bar
    .side_bar__user-name
      .top-items
        .top-items__name 
          masa
        .top-items__icons
          .top-items__icons-edit
            =link_to "#" do
              %i.far.fa-edit
          .top-items__icons-cog
            =link_to "#" do
              %i.fas.fa-cog
    .side_bar__group-list
      .side_bar__group-list-center
        .side_bar__group-list-center-main
          tec
          .side_bar__group-list-center-main-text
            まだできていません