* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  .side_bar {
    &__user-name{
      display: flex;
      align-items: center;
      background-color: #253141;
      height: 100px;
      width: 300px;
      color: #ffffff;
      .top-items{
        line-height: 20px;
        display: flex;
        justify-content: space-between;
        background-color:#253141;
        height: 20px;
        width: 260px;
        margin: 0 20px;
        &__name{
        }
        &__icons{
          background-color: #253141;
          width: 60px;
          color: #ffffff;
          font-size: 16px;
          display: flex;
          justify-content: flex-end;
          text-align: right;
          // align-items: flex-end;
          &-edit{
            .fa-edit{color: #ffffff;}
            margin-right: 5px;
          }
          &-cog{
            .fa-cog{color: #ffffff;}
          }
        }
    }
  }
    &__group-list{
      background-color: #253141;
      height: calc(100vh - 100px);
      width: 300px;
    }
      &__group-list-center{
        background-color:  #253141;
        height: calc(100vh - 100px);
        width: 240px;
        margin-right: auto;
        margin-left: auto;
      }
        &__group-list-center-main{
          padding-top: 20px;
          background-color: #253141;
          color: #ffffff;
          height: 101px;
          width: 100%;
        }
          &__group-list-center-main-text{
            background-color: #253141;
            color: #ffffff;
            padding-top: 5px;
            width: 100%;
          }
  }

  .chat_main{
    height: 100%;
    width: 100%;
    &__group-info{
      background-color:#ffffff;
      height: 100px;
      width: calc(100vw - 300px);
      display:flex;
      justify-content: space-between;
    }
      &__group-info-left{
        font-size: 20px;
        color: #333333;
        padding-left: 40px;
        padding-top: 35px;
      }
        &__group-member{
          color: #999999;
          font-size: 12px;
          margin-bottom: 0px;
          margin-top: 15px;
        }
    &__group-info-right{
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      margin-top: 30px;
      border: solid 1px;
      position: absolute;
      right: 40px;
      border: solid 1px #38aef0;
    }
      &__group-info-right-edit{
        text-decoration: none;
        color:  #38aef0;
      }
    &__message-list{
      background-color:#fafafa;
      height: calc(100vh - 190px);
      width: calc(100vw - 300px);
    }
      &__message-top{
        margin-left: 40px;
        
      }
        &__message-name{
          padding-top: 35px;
          color: #333333;
          font-size: 16px;
          display: flex;
          padding-bottom: 12px;
        }
          &__message-date{
            color: #999999;
            font-size: 12px;
            margin-bottom: 0px;
          }
        &__message-comment{
          color: #434A54;
          font-size: 14px;
          margin-bottom: 46px;
        }
    &__message-form{
      background-color: #d2d2d2;
      height: 90px;
      width: calc(100vw - 300px);
      padding: 20px 40px;
      display: flex;
    }
      &__message-input-box{
        height: 50px;
        background-color: #ffffff;
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
        .chat_main__message-type{
          padding: 0 40px 0 10px;
          color: #434a54;
          line-height: 45px;
          border-style: none;
          width: 100%;
        }

        .chat_main__message-image{
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
          .input-box__image{
          
          .input-box__image-file{
            display: none;
        }
      }
    }
      &__message-send{
        line-height: 45px;
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        background-color: #38aef0;
        color: white;
        cursor: pointer;
      }
        &__message-send-in{
          text-decoration: none;
          color: white;
        }
  }
}

